.changeU{
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.changeU h1 {
    color: rgb(77, 77, 77);
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.Eform-group {
    flex: 1;
    margin-right: 10px;
}

.Eform-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(77, 77, 77);
    font-size: 13px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.Eform-group input{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    outline: none;
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    .changeU{
        width: 100%;
    }
    
}