*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.backgroundImage {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/search_event.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
}


.backgroundImage h1{
    font-size: 48px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 500;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.backgroundImage h3{
    font-size: 25px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 200;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.65);
}

@media (max-width: 567px) {
    .backgroundImage h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .backgroundImage h3{
        font-size: 18px;
        line-height: 32px;
        color: #ffffff;
        font-weight: 200;
        font-style: normal;
        font-family: "Poppins", sans-serif;
        color: rgba(255, 255, 255, 0.65);
    }

    .backgroundImage {
        padding-top: 120px;
    }
}