* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(242,242,242);
}

.backgroundImage {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/search_event.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 240px;
}

.backgroundImage h2 {
    font-size: 69px;
    line-height: 69px;
    color: #ffffff;
    font-weight: 600;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.backgroundImage h3 {
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    position: relative;
}

.backgroundImage h3::after {
    content: "";
    display: block;
    border-bottom: 1px solid #f53f7b;
    width: 21%;
    position: absolute;
    bottom: -5px;
    left: 39.5%;
}

.home-btn {
    margin-top: 50px;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 10px 40px;
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    border-radius: 30px;
    font-size: 14px;
}

.home-btn:hover {
    background-color: #f53f7b;
    color: #ffffff;
    border: 1px solid #f53f7b;
    transition: background-color 0.9s, color 0.9s
}

.search {
    display: flex;
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: 0;
    padding: 30px 120px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.611);
}

#text {
    padding: 12px 15px;
    width: 150%;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 30px;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: gray;
}

.homepageselect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px 15px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 30px;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: gray;
}

.homepageselect::-ms-expand {
    display: none;
}


.homepageselect option {
    padding: 20px 10px;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: gray;
    background-color: white;
}


.Homepagebutton {
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

.section-two {
    margin-top: 70px;
    text-align: center;
}

.sect-title {
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: #242b46;
    line-height: 24px;
    margin-bottom: 40px;
    position: relative;
}

.sect-title::after {
    content: "";
    height: 4px;
    bottom: -18px;
    width: 4%;
    background-color: #f53f7b;
    position: absolute;
    left: 48%;
}

.box-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 80px;
    gap: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
}

.images {
    text-align: center;
    padding-bottom: 60px;
}

.images-title {
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: #242b46;
    line-height: 24px;
}

.images-h4 {
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    color: #242b46;
    line-height: 24px;
    margin-bottom: 40px;
    position: relative;
}

.images-h4::after {
    content: "";
    height: 4px;
    bottom: -18px;
    width: 4%;
    background-color: #f53f7b;
    position: absolute;
    left: 48%;
}

.image-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 2rem;
}

.placeflex1 {
    width: 42%;
}

.placeflex2 {
    display: block;
    width: 42%;
}

.top,
.left {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.top:hover,
.left:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.top {
    height: 180px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 12px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/place2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.left {
    height: 400px;
    border-radius: 12px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/place1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-position: center;
}

.top,
.left,
.bottom {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.top:hover,
.left:hover,
.bottom:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.top::after,
.left::after,
.bottom::after {
    content: attr(data-text);
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(20px);
    filter: blur(8px);
}

.top:hover::after,
.left:hover::after,
.bottom:hover::after {
    opacity: 1;
    transform: translateY(0px);
    filter: blur(0px);
}


.side {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    gap: 1.5rem;
}

.bottom {
    height: 200px;
    border-radius: 12px;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.bottom:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.bottom:nth-child(1) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/place3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bottom:nth-child(2) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/place4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.link {
    text-decoration: none;
}

.rectangele-box {
    margin-top: 20px;
    text-align: center;
    background: rgb(250, 250, 250);
    padding: 80px 110px;
}

.grid-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    padding-top: 30px;
}

.featuereEvent{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.featureFlex{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 70px;
}

.allevent {
    border: 1px solid #f53f7b; 
    width: 12%;
    margin: auto;
    padding: 6px 20px;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease, border-color 0.3s ease; 
}

.allEventp {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    color: #242b46;
    line-height: 24px;
}

.allevent:hover {
    background-color: #f53f7b;
    border-color: #f53f7b;
}

.allevent:hover p {
    color: white;
}

.displayCapcity {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 80px 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25rem;
}

.displayCapcity::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.9));
    z-index: 1;
}

.displayCapcity::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/crowd-1056764_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    z-index: 0;
}

.topss {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.topss i {
    font-size: 58px;
    color: rgb(118, 126, 155);
}

.number {
    font-size: 24px;
    font-weight: bold;
    margin-top: 100px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    margin-left: -30px;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.name {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.displayAllEvent{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.carosel{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 50px;
    background-color: rgb(242, 242, 242);
  }


@media (max-width: 1326px) {
    .backgroundImage {
        padding-top: 120px;
    }

    .rectangele-box {
        margin-top: 20px;
        text-align: center;
        background: rgb(250, 250, 250);
        padding: 80px 20px;
    }
}

@media (max-width: 1024px) {
    .backgroundImage h2 {
        font-size: 49px;
        line-height: 69px;
    }

    .backgroundImage h3::after {
        display: none;
    }

    .search {
        display: flex;
        width: 100%;
        padding: 30px 90px;
        gap: 1rem;
    }

    .backgroundImage {
        padding-top: 120px;
    }
    .featureFlex{
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 50px;
        flex-wrap: wrap;
        padding-left: 10px;
        padding-right: 10px;
    }

    .displayCapcity {
        gap: 15rem;
        flex-wrap: wrap;
    }

}

@media (max-width:1000px) {
    .backgroundImage {
        padding-top: 120px;
    }

    .sect-title::after {
        content: "";
        height: 4px;
        bottom: -14px;
        width: 8%;
        left: 44%;
    }

    .box-flex {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .images-h4::after {
        display: none;
    }

    .grid-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
        padding-top: 30px;
    }

    .allevent {
        border: 1px solid #f53f7b; 
        width: 20%;
    }

    .displayCapcity {
        margin-top: 30px;
    }

    .carosel{
        display: flex;
        padding-top: 0px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .displayAllEvent{
        padding-top: 0px;
        padding-bottom: 10x;
        text-align: center;
    }

    .category{
        display: flex;
        padding-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding-bottom: 50px;
        padding-left: 10px;
        background-color: rgb(242,242,242);
        padding-right: 10px;
    }

}

@media (max-width: 768px) {
    .backgroundImage h2 {
        font-size: 39px;
        line-height: 69px;
    }

    .home-btn {
        margin-top: 30px;
    }

    .backgroundImage {
        padding-top: 120px;
    }

    .search {
        display: flex;
        width: 100%;
        padding: 30px 10px;
        gap: 0.5rem;
    }

    .section-two {
        margin-top: 40px;
        text-align: center;
    }

    .images {
        text-align: center;
        padding-bottom: 20px;
    }
    .displayCapcity {
        gap: 10rem;
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    .backgroundImage {
        padding-top: 120px;
    }

    .backgroundImage h2 {
        font-size: 29px;
        line-height: 29px;
    }

    .search {
        display: block;
    }

    #text {
        width: 100%;
        margin-bottom: 10px;
    }

    .homepageselect {
        margin-bottom: 10px;
    }

    .box-flex {
        padding-top: 5px !important;
        padding-bottom: 30px;
    }

    .image-flex {
        display: block;
        padding-top: 5px;
    }

    .placeflex1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .placeflex2 {
        display: block;
        width: 100%;
    }

    .left {
        height: 180px;
    }

    .side {
        display: block;
    }

    .bottom {
        margin-bottom: 20px;
    }

    .grid-flex {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1rem;
        column-gap: 1rem;
        padding-top: 30px;
    }

    .rectangele-box {
        margin-top: 10px;
    }

}

@media (max-width: 500px) {
    .backgroundImage h2 {
        font-size: 22px;
        line-height: 29px;
    }

    .backgroundImage h3 {
        font-size: 16px;
        line-height: 10px;
    }

    .sect-title::after {
        content: "";
        height: 4px;
        bottom: -14px;
        width: 13%;
        left: 44%;
    }

    .link {
        text-decoration: none;
        width: 100%;
    }

    .allevent {
        border: 1px solid #f53f7b; 
        width: 30%;
    }
}

@media (max-width:320px) {
    .search {
        display: block;
        padding: 7px 10px;
    }

    #text {
        width: 100%;
        margin-bottom: 5px;
    }

    .homepageselect {
        margin-bottom: 5px;
    }

    .allevent {
        border: 1px solid #f53f7b; 
        width: 40%;
    }
}