.message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    text-align: start;
}

.message.show {
    opacity: 1;
}

.message.hide {
    opacity: 0;
}

.success {
    background-color: #4caf50;
    color: rgb(77, 77, 77);
}

.fail {
    background-color: #f443;
    color: rgb(77, 77, 77);

}

.content {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
}

